extends layouts/main
include mixins/videoPlayer

block content 
	.video__container 
		+videoPlayer({ src: video.fileUrl })
		.video__info__container 
			.video__info
				p.video__title=video.title
				if video.views === 0
					span.video__views 0 view
				else if video.views === 1
					span.video__views 1 view
				else 
					span.video__views #{video.views} views
				a(href=routes.userDetail(video.creator.id))
					img.u-avatar(src=video.creator.avatarUrl)
			p.video__description=video.description
			if loggedUser && loggedUser.id === video.creator.id
				a(href=routes.editVideo(video.id)) 
					button Edit video 
		.video__comment
			form.add__comment#jsAddComment
				input(type="text", placeholder="Add a comment")
				input(type="submit", value="add")
			.video__comment_title
				if video.comments.length > 1
					span.video__comment_number#jsCommentNumber #{video.comments.length} comments
				else
					span.video__comment_number#jsCommentNumber #{video.comments.length} comment
			ul.video__comment_list#jsCommentList
				each comment in video.comments.reverse()
					form.video__comment-form(action=routes.deleteComment(video.id,comment.id),method="POST")
						.video__comment_item
							a(href=routes.userDetail(comment.creator.id))
								img.u-avatar(src=comment.creator.avatarUrl)
							if loggedUser && (loggedUser.id === comment.creator.id || loggedUser.id === video.creator.id)
								.isAuthenticated
									li
										span=comment.text
									input(type="submit", value="delete")
							else 
								li
									span=comment.text